<ion-header [translucent]="true">
  <ion-toolbar mode="ios" color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tour</ion-title>
  </ion-toolbar>
</ion-header>
<ng-container *ngIf="(tours$ | async) as tours">
  <ion-content>
    <ion-grid class="ion-no-padding">
      <ion-row>
      <ion-col sizeLg="6" sizeXs="12" *ngFor="let tour of tours">
        <ion-item>
          {{tour.tourName}}
          <ion-button slot="end" (click)="setActive(tour)">Zet actief</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    </ion-grid>
  </ion-content>
</ng-container>