<ion-header>
  <ion-toolbar mode="ios" color="tertiary">
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Annuleren</ion-button>
    </ion-buttons>
    <ion-title>Voeg etappe toe</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">Opslaan</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Etappe</ion-label>
    <ion-input type="number" required [(ngModel)]="etappe.etappeNumber" placeholder="Etappe nummer"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Etappe</ion-label>
    <ion-input required [(ngModel)]="etappe.etappeName" placeholder="Etappe omschrijvijng"></ion-input>
  </ion-item>
  <ion-item>
    <ion-datetime-button datetime="datetime"></ion-datetime-button>
  </ion-item>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime 
      (ionChange)="setDatetime($event)" 
      minuteValues="0,15,30,45" 
      id="datetime"
      [preferWheel]="true"
      presentation="date-time"
      [showDefaultButtons]="true"
      doneText="Kies"
      cancelText="Annuleer">
        <span slot="title">Kies datum en tijd van de etappe</span>
      </ion-datetime>
    </ng-template>
  </ion-modal>

</ion-content>