<ion-header [translucent]="true">
  <ion-toolbar mode="ios" color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Etappe uitslag</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="4">
        <ion-card>
          <ion-card-header color="primary">
            <ion-card-title>
              Uitslag
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
              <!-- Casting $event to $any is a temporary fix for this bug https://github.com/ionic-team/ionic-framework/issues/24245 -->
              <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
                <ion-item *ngFor="let item of etappeUitslag">
                  <ion-label>{{item.position}} {{item.tourrider.rider.firstName}} {{item.tourrider.rider.surName}}
                  </ion-label>
                  <ion-button fill="clear" slot="end" (click)="deleteFromEtappe(item.tourrider)" class="ion-no-margin">
                    <ion-icon name="trash-outline"></ion-icon>
                  </ion-button>
                  <ion-reorder slot="end" class="ion-no-margin"></ion-reorder>
                </ion-item>
              </ion-reorder-group>
            </ion-list>
          </ion-card-content>
          <ion-button color="tertiary" [disabled]="etappeUitslag.length !== 1" (click)="save()"
            expand="full">Opslaan</ion-button>
          <ion-button color="tertiary" [disabled]="etappeUitslag.length !== 20" (click)="updatePredictionScore()"
            expand="full">Update Score
          </ion-button>
        </ion-card>
      </ion-col>
      <ion-col size="8">
        <ion-card>
          <ion-card-header color="primary">
            <ion-card-title>
              Renners
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-searchbar mode="ios"></ion-searchbar>
            </ion-item>
            <ion-item *ngFor="let tourrider of tourriders">
              <ion-label>
                {{tourrider.rider.firstName}} {{tourrider.rider.surName}}
              </ion-label>
              <ion-button fill="clear" (click)="addTourriderToStageClassification(tourrider)">
                <ion-icon name="add-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>